.bg-main,
.btn.bg-main {
  background-color: #07689f;
}
.bg-main-lighter {
  background-color: #cce4f1;
}
.icon-custom {
  size: 108;
  color: white;
}
#footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding-top: 12px;
  margin-top: 20px;
}
.err-msg {
  font-size: 12px;
}
.btn.btn-main-outline {
  background-color: white;
  border: #07689f 1px solid;
  padding: 8px 24p;
}

.btn-sm.bg-main:hover,
.btn-sm.bg-main:focus,
.btn.bg-main:hover,
.btn.bg-main:focus {
  background-color: #07689f;
  opacity: 0.9;
}
.text-main {
  color: #07689f !important;
}
.pagination .page-link {
  color: #07689f;
}

.pagination .page-item.active .page-link {
  background-color: #07689f;
  border-color: #07689f;
  color: #ffffff;
}

.pagination .page-link:hover {
  color: #cce4f1;
}

.pagination .page-item.disabled .page-link {
  opacity: 0.5;
}
/* Hide the up/down buttons in the quantity input field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
